body {

    margin: 0;
    padding: 0;
    overflow: hidden;
    background-image: url(background.jpg);

}

.backgroundImg {

    margin-bottom: -100px;

}

.content {
    
    text-align: center;
    padding: 20px;
    color: #ffffff;
    padding-bottom: 300px;
    
}


h1 {

    color: rgb(0, 174, 0);
    font-size: 70px;
    display: inline-block;
    padding: 10px;
    border: 10px solid green;
    background-color: rgba(0, 174, 0, 0.295);

}


input[type="text"], input[type="password"] {

    padding: 10px;
    margin: 10px;
    width: 400px;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.513);
    color: green;
    border-color: green;
    
}

button {

    padding: 10px 20px;
    color: white;
    background-color: rgba(0, 0, 0, 0.513);
    border: 3px solid green;
    cursor: pointer;
    width: 150px;
    height: 50px;

}

button:hover {

    background-color: rgba(0, 128, 0, 0.57);

}

#result {

    font-weight: bold;
    margin-top: 20px;
    font-size: 40px;
    word-wrap: break-word;
    color: green;

}

@media (max-width: 768px) {

    body {

        margin: 0;
        padding: 0;
        overflow: hidden;
        background-image: url(background.jpg);
    
    }
    
    .backgroundImg {
    
        margin-bottom: -100px;
        width: 300px;  
    
    }
    
    .content {
        
        text-align: center;
        padding: 20px;
        color: #ffffff;
        padding-bottom: 300px;
        
    }
    
    
    h1 {
    
        color: rgb(0, 174, 0);
        font-size: 70px;
        display: inline-block;
        padding: 10px;
        border: 10px solid green;
        background-color: rgba(0, 174, 0, 0.295);
    
    }
    
    
    input[type="text"], input[type="password"] {
    
        padding: 10px;
        margin: 10px;
        width: 400px;
        height: 40px;
        background-color: rgba(0, 0, 0, 0.513);
        color: green;
        border-color: green;
        
    }
    
    button {
    
        padding: 10px 20px;
        color: white;
        background-color: rgba(0, 0, 0, 0.513);
        border: 3px solid green;
        cursor: pointer;
        width: 150px;
        height: 40px;
    
    }
    
    button:hover {
    
        background-color: rgba(0, 128, 0, 0.57);
    
    }
    
    #result {
    
        font-weight: bold;
        margin-top: 20px;
        font-size: 30px;
        word-wrap: break-word;
        color: green;
    
    }    

}
